<div class="container">
  <h1>Welcome to DBC.ly!</h1>
  <p>Hello, world!</p>
  <ul>
    <% @urls.each do |u|%>
    <li><a href="<%=u.alter%>"><%= u.alter%></a> (<%=u.count%>)</li>
    
    <% end %>
  </ul>  
  <a href="/create_url" id="create_form">Create Form</a>
<form id="login" action ="/login" method="POST">  
  <input type="text" id="email" name="user[email]">
  <input type="text" id="password" name="user[password]">
  <input type="submit">
</form>
<br>
<p>Create New User Account</p>
<form id="create_user" action="/create_user" method="POST">
  <input type="text" id="email" name="user[email]">
  <input type="text" id="password" name="user[password]">
  <input type="submit" value="Create!">
</form>
</div>
