<div class="container">
  <h1>Welcome to Sinatra!</h1>
  <p>Hello, world!</p>
  <ul>
    <% @urls.each do |u|%>
    <li><a href="<%=u.alter%>"><%= u.alter%></a></li>
    
    <% end %>
  </ul>  
  <a href="/create_url" id="create_form">Create Form</a>

</div>
